VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=countdown-57acd.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=countdown-57acd
VITE_FIREBASE_STORAGE_BUCKET=countdown-57acd.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
