.input-group input, #signupform input, input:-webkit-autofill {
    display: block;
    margin: 5px auto 25px auto;
    height: 2.5em;
    padding: 0 15px;
    border-radius: 0.5em;
    transition: ease 0.3s;
    border: 2px solid transparent;
}

.input-group input:hover, #signupform input:hover, input:-webkit-autofill:hover {
    border: 2px solid purple;
    transition: ease 0.3s;
}

.input-group input:focus, #signupform input:focus, input:-webkit-autofill:focus {
    outline: none;
    border: 2px solid purple;
    transition: ease 0.3s;
}

.input-group {
    width: 100%;
    margin: auto;
}

.input-group label, #signupform label {
    display: block;
    text-transform: uppercase;
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

.input-dt {
    display: inline-block;
    width: fit-content;
}

.btn-submit {
    border: none;
    border-radius: 0.5em;
    padding: 15px;
    margin: 25px auto 5px auto;
    background-image: linear-gradient(to top left, rgb(230, 48, 196, 0.7), rgb(47, 178, 218, 0.7));
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 0.7s;
}

.btn-submit:hover {
    cursor: pointer;
    background-color: purple;
    transition: ease 0.7s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.btn-box, #input-form {
    width: fit-content;
    margin: auto;
}

#newtimer-name, #edittimer-name {
    width: 88%;
}

.range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}

.range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
}

.range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

.range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}

.range::-ms-fill-lower { 
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-fill-upper { 
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-tooltip { display: none; /* display and visibility only */ }

.range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
}

.range:active::-moz-range-thumb {
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
    outline: none;
}

.range::-ms-thumb { 
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px; 
    border: none;
}

.range:active::-ms-thumb {
    border: none;
}

output {
    border: 1px solid #d7dbdd;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
}