body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, hsl(311, 65%, 55%), hsl(194, 65%, 52%));
}

/* LOGIN AND SIGNUP */

#content {
    position: relative; 
    width: 90%;
    height: fit-content;
    margin: auto;
    transform: translateY(calc(calc(var(--vh, 1vh) * 47) - 50%));
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 2em;
    transition: ease 0.4s;
    z-index: 2;
}

#loading img {
    margin: auto;
    display: block;
    width: 50%;
}

.content-context {
    padding: 15px;
    margin: auto;
}

#alltimers {
    overflow: scroll;
    max-height: calc(var(--vh, 1vh) * 75);
    padding: 15px;
    margin: auto;
}

#newtimer-form, #edittimer-form {
    margin: 35px auto;
    width: fit-content;
}

#login form, #signupform {
    width: fit-content;
    margin: 20px auto;
    text-align: center;
}

#signup {
    width: 100%;
    text-align: center;
}

/*        END       */

#menu {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
    z-index: 200;
}

#menu > * {
    transition: ease 0.4s;
    margin: 25px auto 0 auto;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#menu img {
    max-height: 25px;
    max-width: 25px;
}

#menu-modal {
    position: absolute;
    right: 16px;
    transform: translateY(-110%);
    background-image: linear-gradient(to top left, hsla(311, 65%, 55%, 0.75), hsl(194, 65%, 52%, 0.75));
    z-index: 99999;
    border-radius: 1.2em;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.35);
    padding: 10px;
}

#menu-modal > a {
    display: block;
    margin: 13px 25px;
    transition: ease 0.1s;
}

#countdown-header {
    padding: 15px 23px;
    text-align: center;
    color: rgb(112, 112, 112);
}

#countdown-title {
    font-size: 2em;
    margin: 0;
    color: #4f0099;
}

.content-context-header {
    color: #4f0099;
    margin: 0.6em 4%;
}

#countdown-header h1 {
    font-size: 1.6em;
}

#countdown-end-datetime {
    color: #7a5e94;
    margin-bottom: 5px;
}

#countdown-content {
    font-size: 1.4em;
    text-align: center;
}

#counters, #counters-text {
    padding: 0 7px;
    display: inline-block;
    transition: ease 0.3s;
}

#counters {
    text-align: right;
    color: #4f2199;
    font-size: 29px;
    font-weight: bold;
    line-height: 33px;
    transition: ease 0.3s;
}

#counters-text {
    line-height: 40px;
    text-align: left;
    transition: ease 0.3s;
}

#days, #hours, #minutes, #seconds {
    font-weight: bold;
}

.hidden {
    display: none;
}

.slidefix {
    transition: ease 0.4s; 
}

.button-active {
    border-bottom: white 3px solid;
    transition: ease 0.3s;
}

.timer-element {
    width: 88%;
    padding: 3px;
    background-image: linear-gradient(to top left, rgb(230, 48, 196, 0.7), rgb(47, 178, 218, 0.7));
    color: white;
    border-radius: 1.2em;
    margin: 10px auto;
    transition: ease 0.7s;
}

.timer-element p {
    padding: 3px 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#alltimers::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#alltimers {
    -ms-overflow-style: none;
}

#enableShift {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    transition: ease 0.6s;
}

.shift {
    text-shadow: black 0 10px 15px;
    font-size: 1.5em;
    transition: ease 0.6s;
}

@media screen and (min-width: 600px) {
    body {
        height: 100vh;
        margin: 0;
    }

    #content {
        transform: translateY(calc(50vh - 50%));
        width: 50%;
        max-width: 515px;
        margin: 0 auto;
    }

    .timer-element {
        display: flex;
        justify-content: space-between;
    }

    #menu a:hover, #menu img:hover, #enableShift:hover {
        transition: ease 0.7s;
        color: purple;
        cursor: pointer;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    }

    .button-active:hover {
        border-bottom: purple 3px solid;
        transition: ease 0.3s;
    }

    .timer-element:hover {
        transition: ease 0.7s;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
        padding: 10px 3px;
        cursor: pointer;
    }
}