body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(230, 48, 196), rgb(47, 178, 218));
}

/* LOGIN AND SIGNUP */

#content {
    position: relative; 
    width: 90%;
    height: fit-content;
    margin: auto;
    transform: translateY(2em);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 2em;
    transition: ease 0.4s;
}

#login, #newtimer, #alltimers {
    padding: 15px;
    margin: auto;
}

#login form {
    margin: 20px 15px;
    text-align: center;
}

/*        END       */
.menu-container {
    height: fit-content;
    padding: 10px;
    position: absolute;
    width: 93%;
    justify-content: space-evenly;
}

.actionbutton {
    font-size: 4em;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.55);
    transition: ease 0.3s;
}

.actionbutton:active {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 15px 15px rgba(0, 0, 0, 0.85);
    transition: ease 0.3s;
}

#menu {
    display: flex;
    justify-content: space-evenly;
}

#menu > * {
    transition: ease 0.7s;
    margin: 25px auto 0 auto;
    color: #00adcc;
    font-weight: bold;
    text-transform: uppercase;
}

#menu a:hover, #menu img:hover {
    transition: ease 0.7s;
    color: purple;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}

#menu img {
    max-height: 25px;
    max-width: 25px;
}

#menu-modal {
    display: none;
    position: fixed;
    right: 0;
    background-color: #e7edf9;
    border-radius: 1.2em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    padding: 10px;
    top: 25px;
}

#menu-modal > a {
    display: block;
    margin: 13px auto;
    transition: ease 0.7s;
}

#countdown-header {
    padding: 0 23px 15px 23px;
    text-align: center;
    color: rgb(112, 112, 112);
}

#countdown-title {
    font-size: 2em;
    margin: 0;
    color: #4f0099;
}

#countdown-header h1 {
    font-size: 1.6em;
}

#countdown-end-datetime {
    color: #7a5e94;
    margin-bottom: 5px;
}

#countdown-content {
    font-size: 1.4em;
    text-align: center;
}

#counters, #counters-text {
    padding: 0 7px;
    display: inline-block;
    transition: ease 0.3s;
}

#counters {
    text-align: right;
    color: #4f2199;
    font-size: 29px;
    font-weight: bold;
    line-height: 33px;
    transition: ease 0.3s;
}

#counters-text {
    line-height: 40px;
    text-align: left;
    transition: ease 0.3s;
}

#days, #hours, #minutes, #seconds {
    font-weight: bold;
}

.hidden {
    display: none;
}

.slidefix {
    transition: ease 0.4s; 
}

.button-active {
    border-bottom: #00adcc 2px solid;
    transition: ease 0.3s;
}

.button-active:hover {
    border-bottom: purple 2px solid;
    transition: ease 0.3s;
}

.timer-element {
    padding: 3px;
    background-image: linear-gradient(to top left, rgb(230, 48, 196, 0.7), rgb(47, 178, 218, 0.7));
    color: white;
    border-radius: 1.2em;
    margin: 10px auto;
    transition: ease 0.7s;
}

.timer-element:hover {
    transition: ease 0.7s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    padding: 10px 3px;
    cursor: pointer;
}

.timer-element p {
    padding: 3px 10px;
}

@media screen and (min-width: 600px) {
    body {
        height: 100vh;
        margin: 0;
    }

    #content {
        transform: translateY(calc(50vh - 50%));
        width: 50%;
        max-width: 515px;
        margin: 0 auto;
    }

    .actionbutton:hover {
        font-weight: bold;
        cursor: pointer;
        text-shadow: 0 15px 15px rgba(0, 0, 0, 0.85);
        transition: ease 0.3s;
    }

    .timer-element {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) and (min-height: 800px) {
    #content {
        margin: auto;
        transform: translateY(25%);
    }
}
/*
@media screen and (min-width: 900px) {
    #countdown-content {
        display: flex;
    }

    #counters {
        padding: 0;
        justify-content: space-around;
        margin: 20px 20px 0 20px;
    }

    #counters-text {
        line-height: auto;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
}

@media screen and (orientation: landscape) {
    #countdown-content {
        display: flex;
    }

    #counters {
        padding: 0;
        justify-content: space-around;
        margin: 20px 20px 0 20px;
    }

    #counters-text {
        line-height: auto;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
}*/